/* login.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  text-align: center;
  margin: 50px;
  background-image: url(login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #343a40;
}

form {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  color: #495057;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

input:focus {
  border-color: #007bff;
}

select {
  appearance: none;
  padding: 10px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
